# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Packaging
*.egg-info/
.dist/
dist/
build/

# Virtual envs
.venv/
venv/

# Test & tools
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# VS Code
.vscode/
